<div class="container-fluid">
    <div class="row" id="titulo">
        <h1>Este es el encabezamiento</h1>
    </div>
    <div class="row" id="navegacion">
        <div class="col">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a class="navbar-brand" routerLink="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand"  routerLink="quienes">Quienes somos</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand"  routerLink="empleados">Agregar empleado</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand"  routerLink="lista">Lista de empleados</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand"  routerLink="frmcont">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</div>

