<div class="row">
    <h3 class="acercade">Informacion de nosotro en un solo lugar</h3>
    <p>Nuestra base principal está en Texas, Aeronautical & Aerospatial Technology Corporation. Diseñamos, fabricamos y vendemos tecnología electrónica para aeronaves, naves espaciales y telescopios, en los cinco continentes.

        El portafolio de productos se vende actualmente en más de 160 países de Norte América, Latinoamérica, Europa, Medio Oriente, África, Asia y Oceanía. Estamos catalogados como entre los 15 fabricantes más grandes en dichas áreas.
        
        Los productos comercializados por Aeronautical & Aerospatial Technology Corporation entregan innovación, experiencias ricas en especificaciones; entregando un portafolio variado de productos cargados de la tecnología que hoy mas busca.
        </p>
</div>
