<div class="accordion accordion-flush" id="accordionFlushExample" >
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="avion">
            Grumman F-14 Tomcat
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" id="acordeon">El Grumman F-14 Tomcat es un caza supersónico biplaza con alas de geometría variable pesado, de largo alcance y doble motor, diseñado por Grumman para la Armada de los Estados Unidos. El objetivo primario del Tomcat era la defensa de la flota naval y, entre sus objetivos secundarios, podían contarse la escolta de bombarderos y, más tarde, el ataque contra objetivos en tierra.
            El Tomcat fue desarrollado especialmente para equipar a la Armada de los Estados Unidos dentro del programa Naval Fighter Experimental (VFX), tras la retirada del proyecto del F-111B. El F-14 fue el primero de una serie de aviones de combate que fueron diseñados incorporando la experiencia del combate aéreo contra los MiG durante la guerra de Vietnam. </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" id="avion">
            Incidente del U-2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" id="acordeon">El incidente del avión U-2 ocurrió durante la Guerra Fría, el primero de mayo de 1960, cuando un avión espía estadounidense U-2 fue derribado sobre la Unión Soviética. En un principio, el gobierno de Estados Unidos negó el objetivo y misión del avión, pero se vio obligado a admitir su papel en la intrusión aérea cuando la URSS mostró sus restos (sorprendentemente conservados), y más aún, anunció que su piloto, de quien luego se sabría que se llamaba Francis Gary Powers, había sobrevivido a su derribo.
            El Lockheed U-2, apodado «Dragon Lady», es un avión de vigilancia a gran altitud, monomotor y monoplaza, usado por la Fuerza Aérea de los Estados Unidos (USAF) y previamente por la Agencia Central de Inteligencia (CIA). Realiza misiones de vigilancia todo tiempo a altitudes superiores a 21 000 m. El avión también hace tareas de investigación y desarrollo de sensores electrónicos, calibración de satélites y validación de datos de satélites. </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" id="avion">
            Boeing B-52 Stratofortress (Superfortaleza)
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" id="acordeon">El Boeing B-52 Stratofortress es un bombardero estratégico subsónico de largo alcance, propulsado por motores de reacción, fabricado por la compañía estadounidense Boeing, y que está en servicio en la Fuerza Aérea de los Estados Unidos (USAF) desde 1955.

            A partir de la obtención del contrato el 5 de junio de 1946, el B-52 pasó por varias etapas de diseño; desde el primer prototipo de ala recta propulsado por seis motores turbohélice, hasta el prototipo final YB-52, de ala en flecha y propulsado por ocho turborreactores. El avión realizó su primer vuelo el 15 de abril de 1952 con «Tex» Johnston como piloto de pruebas.5​ </div>
      </div>
    </div>
  </div>